<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>Primer Template Back-end<h1>
        <p>El nombre del animal es {{nombre_animal}}</p>
        <p style="color: red">Este {{pais_origen}}<br>
            Y la fecha actual es: {{fecha.day}}/{{fecha.month}}/{{fecha.year}}
        </p>
        <br>
        <p>Datos por medio de la clase:<br>
            Los datos: {{nombre.upper}} y {{tipo}}
        </p>
        <br>
        <p style="color: blue">Lista de lenguajes:<br>
            <!-- No recomendado, esto es solo una muestra-->
            {{lenguajes.0}}<br>
            {{lenguajes.1}}<br>
            {{lenguajes.2}}<br>
            {{lenguajes.3}}<br>
            {{lenguajes.4}}<br>
            {{lenguajes.5}}<br>
            {{lenguajes.6}}<br>
        </p>
        <p style="color: purple, font-size=12em">
            Lista con ciclo for, solo ejemplo<br>
            <!--Esto es de ejemplo también, normalmente este ciclo se coloca en la vista-->
            {% for i in lenguajes %}
                {{i}}<br>
            {% endfor %}
            <br>
            <!--Lo mismo pero en lista ordenada
                ojo a la posición de las etiquetas HTML
            -->
            <ol>{% for i in lenguajes %}
                    <li>{{i}}</li>
                {% endfor %}
             </ol>
        </p>
    </body>
</html>